{% load static wagtailcore_tags wagtailimages_tags %}
<div class="column has-text-centered product ">
  <img class="date-mark" src="{% static 'img/strafiato2023/reward-special-shirt.png' %%}">
  <p class="product__name">Exclusive T-Shirt <span>50 </span></p>
  <p>
      With your 50€ donation to Strafiato 2023, you will receive the Exclusive
      Tie-Dye T-Shirt. This shirt is available only for supporters, and will not
      be available to purchase at the festival. Pickup at festival only.
  </p>
</div>
