{% load static wagtailcore_tags wagtailimages_tags%}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <h1 class="title" id="merchandise">
          {{ self.merch_title }}
            Merch
        </h1>
        <h2 class="subtitle is-4">
          {{ self.merch_subtitle }}
Get some!
        </h2>

        <div class="content">
          {{ self.merch_text | richtext }}
        </div>
      </div>
    </div>

    <div class="columns">
        {% include 'festival2023/crowdfunding_reward_item.html' %}
        {% include 'festival2023/crowdfunding_reward_item.html' %}
        {% include 'festival2023/crowdfunding_reward_item.html' %}
    </div>
    <div class="columns">
        {% include 'festival2023/crowdfunding_reward_item.html' %}
        {% include 'festival2023/crowdfunding_reward_item.html' %}
        {% include 'festival2023/crowdfunding_reward_item.html' %}
    </div>
  </div>
</section>
