<section class="hero is-large hero-strafiato2023 hero-strafiato2023_4">
    <div class="hero-body">
        <div class="is-flex is-flex-direction-column is-flex-shrink-0 is-flex-grow-1">

            <figure class="logo-type-container container has-text-centered-desktop">
                {% include 'home/strafiato-logo-type-svg.html' with class="logo-type" %}
            </figure>
            <p class="title is-align-self-center is-spaced">
                Save The Date
            </p>
            <p class="subtitle is-align-self-center">
                July 7-11, 2023
            </p>
        </div>
    </div>
</section>
