{% if self.performers %}
<section class="section">
  <div class="container">
    <h2 class="title has-text-centered title-section caption-text" id="lineup">
      {{ self.heading  }}
    </h2>
    <div class="columns is-multiline is-desktop">
      {% for band in self.performers %}
      <div class="column is-4">
        <!--      Start: Band profile-->
        <div class="tile is-child">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    {% image band.logo max-256x256 class="is-rounded" %}
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">
                    {{ band.name }}
                  </p>
                  <p class="subtitle is-6">{{ band.location }}</p>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              {% if band.website %}
              <p class="card-footer-item"><span><a href="{{ band.website }}">website</a></span></p>
              {% endif %}
              {% if band.social %}
              <p class="card-footer-item"><span><a href="{{band.social}}">social</a></span></p>
              {% endif %}
            </footer>
          </div>
        </div>
        <!--      End: Band profile-->
      </div>
      {% endwith %}
      {% empty %}
      <p class="content" >Check back in January 2023 for the full band lineup</p>
      {% endfor %}
    </div>
    </div>
</section>
{% endif %}
