{% load static wagtailcore_tags wagtailimages_tags %}
<!--SECTION: ABOUT SNO-->
<section class="hero">
  <div class="hero-body">
    <div class="container is-size-5 is-size-6-mobile">
      <div class="columns is-desktop">

        <div class="column soundcloud">
          <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/770857746&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
        <div class="column is-6-desktop">
          <div class="content is-large">
            {{ self.about_text | richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--SECTION: WHO WE ARE-->
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container is-size-5 is-size-6-mobile">
      <div class="columns is-desktop">
        <div class="column is-5-desktop">
          <div class="content is-large">
            <h1 class="title" id="wer-sind">
              {{ self.whoweare_title }}
            </h1>
            {{ self.whoweare_text | richtext }}
          </div>
        </div>
        <div class="column is-6-desktop slider-container">
          <div class="slider-wir">
            {% with blocks=self.whoweare_gallery %}
            {% for block in blocks %}
            <div>
              {% image block.value max-800x500 class="image-prettify" %}
            </div>
            {% endfor %}
            {% endwith %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


