{% extends "home/info_base.html" %}
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags app_tags %}
{% block content %}
  <div class="is-form-page">
    <section class="is-white ">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-quarters has-text-centered">
            {% include 'home/trumpet-svg.html' %}
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
              {{ page.title }}
            </h1>
            </p>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-three-quarters content">
            {% with blocks=page.donation_intro %}
              {% for block in blocks %}
                {% if block.block_type == 'heading' %}
                  <h2 class="subtitle">{{ block }}</h2>
                {% elif block.block_type == 'paragraph' %}
                  {{ block }}
                {% endif %}
              {% endfor %}
            {% endwith %}
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="is-white">
    <div class="container">
      <form id="form" accept-charset="UTF-8" action="." method="POST">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        <div class="columns is-multiline">
          <div class="column is-one-third">
            <div class="field">
              <label class="label"
                     for="{{ form.donation_amount.id_for_label }}">{{ page.label_donation_amount }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.donation_amount }}
                {{ form.donation_amount.errors }}
                <span class="icon is-small is-left">{% icon_euro_outline %}</span>
                <p class="help">
                  {{ page.label_donation_detail }}
                </p>
              </div>
            </div>
          </div>
          <div class="column is-one-third ">
            <div class="field">

              <label class="label"
                     for="">&nbsp;</label>
              <div class="control">
                <button type="submit" class="button is-primary  is-medium is-fullwidth is-rounded">
                  Next&nbsp;{% icon_long_arrow_right %}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="columns">

        </div>

      </form>
    </div>
  </section>
{% endblock content %}
