{% load static wagtailcore_tags wagtailimages_tags app_tags %}
<!--SECTION: DONATE-->
<section class="hero is-warning is-bold" id="donation">
  <div class="hero-body">
    <div class="container ">
      <div class="columns">
        <div
            class="column is-half is-offset-one-quarter cta theme-custom-box-shadow has-text-centered content">
          <h1 class="title" id="support">
            {{ self.donate_title }}
          </h1>
          <div class="columns is-multiline is-centered content">
            <div class="column is-5">
              <p class="title is-4">
                {{ self.donate_online }}
              </p>
              <div class="columns is-centered ">
                <div class="column is-full">
                  <form id="donate_form" accept-charset="UTF-8" action="{{ donation_page_url }}" method="POST">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                      {{ hidden_field }}
                    {% endfor %}
                    <div class="field has-addons has-addons-centered">
                      <div class="control has-icons-left">
                        <label for="donation_amount"></label>
                        <input name="donation_amount" id="donation_amount" class="input is-medium"
                               type="number" placeholder="10">
                        <span class="icon is-medium is-left">{% icon_euro_outline %}</span>
                      </div>
                      <div class="control">
                        <button type="submit" class="button is-primary is-medium">
                          <span>Donate</span>
                          <span class="icon is-small">
                            {% icon_credit_card_outline %}
                      </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <p class="title is-4">
                {{ self.donate_offline }}
              </p>
              <p class=""><strong>Ch. Rauch - StreetNoiseOrchestra</strong><br/>
                <strong>IBAN:</strong> <span class="iban">DE 0310 0110 0126 2633 7810</span></p>
            </div>
          </div>
          <p class="is-small content">
            <a class="button is-text is-small" href="mailto:orchestra@streetnoise.at">
              {{ self.donate_footer }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
