{% extends "home/info_base.html" %}
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags %}
{% block content %}
  <div class="is-form-page">
    <section class="is-white ">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-quarters has-text-centered">
            {% include 'home/trumpet-svg.html' %}
            <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
              {{ page.title }}
            </h1>
            </p>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-three-quarters content">
            Loading...
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    var stripe = Stripe('{{  page.stripe_pk }}');

    document.addEventListener('DOMContentLoaded', () => {
      stripe.redirectToCheckout({
        sessionId: '{{page.checkout_session_id}}'
      }).then(function(result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    });
  </script>

{% endblock content %}
