{% load static wagtailcore_tags wagtailimages_tags%}
<!--SECTION: DONATE-->
<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container ">
      <div class="columns">
        <div
            class="column is-half is-offset-one-quarter cta theme-custom-box-shadow has-text-centered content">
          <h1 class="title" id="support">
            {{ self.donate_title }}
          </h1>
          <div class="columns is-multiline is-centered content">
            <div class="column is-5">
              <p class="title is-4">
                {{ self.donate_online }}
              </p>
              <p class="">
                <a class="button is-medium  is-primary"
                   href="https://www.paypal.com/donate/?token=AdAsnIyDN0mavWG6cNZZW-6WkU8hMRvE0jFSSndpGSuWzbI5HI-_jWqqkUhy2KdxI_bmJm&country.x=AT&locale.x=AT"
                   target="_blank">
                  <span class="icon"><i class="fab fa-paypal"></i></span>
                  <span>Paypal</span>
                </a>
              </p>
            </div>
            <div class="column is-6">
              <p class="title is-4">
                {{ self.donate_offline }}
              </p>
              <p class=""><strong>Ch. Rauch - StreetNoiseOrchestra</strong><br/>
                <strong>IBAN:</strong> <span class="iban">DE 0310 0110 0126 2633 7810</span></p>
            </div>
          </div>
          <p class="is-small content">
            <a class="button is-text is-small" href="mailto:orchestra@streetnoise.at">
              {{ self.donate_footer }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
