{% load static wagtailcore_tags wagtailimages_tags wagtail_modeltranslation app_tags  %}
<!--SECTION: FOOTER -->
<footer class="footer section is-primary is-small has-text-centered">
  <div class="container is-narrow">

    <div class="columns is-centered">
      <div class="column is-full">
        <div class="footer-logo">
        {% sno_trumpet %}
          
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <h1 class="title is-size-4-touch">
          ...mehr groove auf die Straße
        </h1>
      </div>
    </div>

    <div class="social-icons">
      <p class="field">
        <a class="button is-medium" href="https://www.facebook.com/StreetNoise.OrchestraIBK"
           target="_blank"><span class="icon is-small">
           {% icon_facebook %}
        </span>
        </a>

        <a class="button is-medium" href="https://www.instagram.com/streetnoiseorchestra/"
           target="_blank"><span class="icon is-small">
           {% icon_instagram %}
        </span>
        </a>
        <a class="button is-medium"
           href="mailto:orchestra@streetnoise.at?subject=Kontakt%20via%20Homepage"
           target="_blank">
           <span class="icon is-small">
             {% icon_envelope %}
           </span>
        </a>
      </p>
    </div>
    <div class="copyright">
      {% if request.LANGUAGE_CODE == 'de' %}
      <a href="{% change_lang 'en' page %}"><span class=" is-hidden-desktop">🇬🇧 </span> English</a>
      {% else %}
      <a href="{% change_lang 'de' page %}"><span class=" is-hidden-desktop">🇦🇹</span> Deutsch</a>
      {% endif %}
    </div>
    <div class="copyright">
      Fotos und Bilder von
      <a href="https://streetnoise.at">StreetNoiseOrchestra</a>,
      <a target="_blank" href="https://www.facebook.com/christian.niederwolfsgruber.9">Christian
                                                                                       Niederwolfsgruber</a>,
      <a target="_blank" href="https://www.carolina-auer.com/">Carolina Auer</a>
    </div>
    <div class="copyright">
        <span class="icon has-white-text" style="vertical-align:middle;">
        Ⓒ
        </span>
        2014  &ndash; {% now "Y" %} StreetNoiseOrchestra
    </div>
    <small class="copyright">
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutz</a>
    </small>
  </div>
</footer>
