{% extends "home/info_base.html" %}
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags wagtail_modeltranslation %}
{% block content %}
{% include 'home/navigation.html' %}
<div class="container">
<section class="section is-white">
        <div class="pl-2 columns is-centered">
            <div class="column is-three-quarters has-text-centered">
                <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
                    {{ page.title }}
                </h1>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-three-quarters content">


                {% with blocks=self.content %}
                {% for block in blocks %}

                {% if block.block_type == 'heading' %}
                <h2 class="subtitle">{{ block }}</h2>
                {% elif block.block_type == 'image' %}
                {% image block.value fill-1280x640 as my_image %}
                <figure class="image is-2by1">
                    <img src="{{ my_image.url }}" >
                </figure>
                {% elif block.block_type == 'embed' %}
                <div class="video-container">
                    {{block}}
                </div>
                {% else %}
                {{block}}
                {% endif %}
                {% endfor %}
                {% endwith %}

            </div>
        </div>
</section>
    </div>
{% include 'home/footer_cta.html' %}
{% include 'home/footer.html' %}
{% endblock content %}
