{% extends "home/info_base.html" %}
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags app_tags %}
{% block content %}
<div class="is-form-page">
  <section class="is-white ">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters has-text-centered">
          {% include 'home/trumpet-svg.html' %}
          <!--<img class="avatar" src="img/sno-trumpet.svg" alt="StreetNoiseOrchestra ... die Activist StreetBand in Innsbruck">-->
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
            {{ page.title }}
          </h1>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-three-quarters content">
          {{ page.intro_text |richtext }}
        </div>

      </div>
    </div>
  </section>
  <section class="is-white">
    <div class="container">
      <form id="form" accept-charset="UTF-8" action="." method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
        <div class="columns is-centered">

          <div class="column is-one-third">
            <div class="field">
              <label class="label" for="{{ form.contact_name.id_for_label }}">{{ page.label_contact_name }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.contact_name }}
                {{ form.contact_name.errors }}
                <span class="icon is-small is-left">
                  {% icon_user %}
                  </span>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="field">
              <label class="label" for="{{ form.contact_org.id_for_label }}">{{ page.label_contact_org }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.contact_org }}
                {{ form.contact_org.errors }}
                <span class="icon is-small is-left">
                  {% icon_globe_europe %}
                </span>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="field">
              <label class="label" for="{{ form.contact_email.id_for_label }}">{{ page.label_contact_email }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.contact_email }}
                {{ form.contact_email.errors }}
                <span class="icon is-small is-left">
                  {% icon_envelope %}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="field">
              <label class="label" for="{{ form.event_date.id_for_label }}">{{ page.label_event_date }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.event_date }}
                {{ form.event_date.errors }}
                <p class="help"></p>
                <span class="icon is-small is-left">{% icon_calendar %}</span>
              </div>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="field">
              <label class="label" for="{{ form.event_time.id_for_label }}">{{ page.label_event_time }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.event_time }}
                {{ form.event_time.errors }}
                <p class="help"></p>
                <span class="icon is-small is-left">{% icon_clock %}</span>
              </div>
            </div>
          </div>
          <hr/>
          <div class="column is-one-third">
            <div class="field">
              <label class="label" for="{{ form.deadline_date.id_for_label }}">{{ page.label_deadline_date }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.deadline_date }}
                {{ form.deadline_date.errors }}
                <span class="icon is-small is-left">{% icon_calendar %}</span>
                <p class="help">
                  {{ page.label_deadline_detail }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="{{ form.event_type.id_for_label }}">{{ page.label_event_type }}</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  {{ form.event_type }}
                  {{ form.event_type.errors }}
                </div>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="{{ form.event_occasion.id_for_label }}">{{ page.label_event_occasion }}</label>
              <div class="control is-expanded">
                <div class="control is-expanded">
                  {{ form.event_occasion }}
                  {{ form.event_occasion.errors }}
                  <p class="help">
                    {{ page.label_event_occasion_example }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="{{ form.location.id_for_label }}">{{ page.label_location }}</label>
              <div class="control is-expanded">
                <div class="control is-expanded has-icons-left">
                  {{ form.location }}
                  {{ form.location.errors }}
                  <span class="icon is-small is-left">{% icon_map_pin %}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
              <label class="label" for="{{ form.donation_amount.id_for_label }}">{{ page.label_donation_amount }}</label>
              <div class="control is-expanded has-icons-left">
                {{ form.donation_amount }}
                {{ form.donation_amount.errors }}
                <span class="icon is-small is-left">{% icon_euro_outline %}</span>
                <p class="help">
                  {{ page.label_donation_detail }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column">
            <label class="label" for="details">{{ page.details_title }}</label>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="field content">
              {{ page.details | richtext }}
            </div>
          </div>
          <div class="column ">
            <div class="field">
              <div class="control is-expanded">
                {{ form.details }}
                {{ form.details.errors }}
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-third is-offset-two-thirds">
            <div class="field">
              <div class="control">
                <input class="button is-primary  is-medium is-fullwidth is-rounded" type="submit" value="Submit">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock content %}
