{% extends "home/info_base.html" %}
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags %}
{% block content %}
<div class="is-form-page">
  <section class="is-white ">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters has-text-centered">
          {% include 'home/trumpet-svg.html' %}
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
            Oops! Something went wrong
          </h1>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-three-quarters content">
          <p>
            An error occurred when trying to send your gig request.
          </p>

          <p>
            You can try again or contact us directly at <a href="mailto:orchestra@streetnoise.at">orchestra@streetnoise.at</a>.
            Here is what you submitted:
            <textarea class="textarea is-large" rows="20">
            {{ page.label_contact_name}}:  {{form.cleaned_data.contact_name}}
            {{ page.label_contact_org}}:  {{form.cleaned_data.contact_org}}
            {{ page.label_contact_email}}: {{form.cleaned_data.contact_email}}

            {{ page.label_event_date}}: {{form.cleaned_data.event_date}}
            {{ page.label_event_time}}: {{form.cleaned_data.event_time}}
            {{ page.label_deadline_date}}: {{form.cleaned_data.deadline_date}}

            {{ page.label_event_type}}: {{form.cleaned_data.event_type}}
            {{ page.label_event_occasion}}: {{form.cleaned_data.event_occasion}}

            {{ page.label_location}}: {{form.cleaned_data.location}}

            {{ page.label_donation_amount}}: {{form.cleaned_data.donation_amount}}

            {{ page.details_title }}:
            {{form.cleaned_data.details}}

            </textarea>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
