<!DOCTYPE html>
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags wagtail_modeltranslation plausible_wagtail %}
<html>
<head>
    <title>{{ page.title }}</title>
    {% include "home/header_assets.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <meta property="og:site_name" content="StreetNoise Orchestra"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="twitter:site" content="@StreetNoiseIBK"/>
    <meta property="twitter:creator" content="@StreetNoiseIBK"/>
    <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}"/>
    <meta name="twitter:card" content="summary" />
    {% if self.feed_image %}
        {% image self.feed_image width-1200 as img %}
        <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ img.url }}"/>
        <meta property="og:image:width" content="{{ img.width }}" />
        <meta property="og:image:height" content="{{ img.height }}" />
    {% endif %}
</head>
<body>
    {% include 'home/navigation.html' %}
    <section class="hero-header  is-fullheight-with-navbar">
        <!-- Hero header: will stick at the top -->
        <div class="hero-body is-relative">
            <div class="festival-cta">
                <div class="festival-cta-content">
                    <div class="columns is-gapless is-multiline is-centered">
                        <div class="column is-half has-text-centered">
                            <picture>
                                <source type="image/webp" srcset="{% static 'img/logo-mark-600w-optimized.webp' %}">
                                <source type="image/png" srcset="{% static 'img/logo-mark-600w-optimized.png' %}">
                                <img class="logo-mark" decoding="auto" loading="eager" src="{% static 'img/logo-mark-600w-optimized.png' %}" alt="Strafiato 2023" fetchpriority="high">
                            </picture>
                        </div>
                        <div class="column is-full has-text-centered">
                            <picture>
                                <source type="image/webp" srcset="{% static 'img/strafiato2023/strafiato-black-on-white-text-960.webp' %}">
                                <source type="image/png" srcset="{% static 'img/strafiato2023/strafiato-black-on-white-text-960.png' %}">
                                <img class="strafiato-title" decoding="auto" loading="eager" src="{% static 'img/strafiato2023/strafiato-black-on-white-text-960.png' %}" alt="Strafiato 2023" fetchpriority="high">
                            </picture>
                        </div>
                        <div class="column is-full has-text-centered">
                            {% get_current_language as locale %}
                            {% if locale == 'en' %}
                                <img class="coming-soon" src="{%  static 'img/strafiato2023/coming-soon-optimized2.svg' %}" alt="Coming Soon">
                            {% else %}
                                <img class="coming-soon" src="{%  static 'img/strafiato2023/kommt-bald-optimized2.svg' %}" alt="Kommt Bald">
                            {% endif %}
                        </div>

                        <div class="column is-full has-text-centered">
                            <div class="buttons is-centered">
                                <a class="button is-primary" href="/festival">
                                    <span class="icon">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span>{% translate "Program" %}</span>
                                </a>
                            </div>
                        </div>
                        <div class="column is-half  is-offset-one-quarter ">
                            <div class="buttons is-centered">
                                <a class="button is-text"
                                   href="/festival#crowdfunding-video">
                                    <span><i class="fas fa-eye"></i> {% translate "Watch the video" %}</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-title-box">
                <h1 class="title has-text-centered">
                    StreetNoise <br>Orchestra
                </h1>
                <h2 class="undertitle has-text-centered">
                    mehr groove auf die Straße
                </h2>
            </div>
        </div>
        </div>
    </section>

    {% include 'home/gigs.html' %}
    {% include 'home/latest_news.html' %}
    {% include 'home/newsletter.html' %}
    {% include 'home/about_us.html' %}
    {% comment %}
    {% include 'home/merch.html' %}
    {% endcomment %}
    {% comment %}
    {% include 'home/donate.html' %}
    {% endcomment %}
    {% include 'home/joinus.html' %}
    {% include 'home/home_cta.html' with homepage=self%}
    {% include 'home/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
    <script type="text/javascript" src="{% static 'js/streetnoise.js' %}"></script>
    {% plausible %}
</body>
</html>
