<!DOCTYPE html>
{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Streetnoise Orchestra</title>
  <link
      href="https://fonts.googleapis.com/css?family=Montserrat:700|Permanent+Marker|Sedgwick+Ave+Display"
      rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">


  <link rel="stylesheet" href="{% static 'css/streetnoise.css' %}">
  <link rel="shortcut icon" href="{% static 'img/megaphone-icon.png' %}">
  <link rel="preload" href="{% static 'fonts/feltnoisy-webfont.woff2' %}" as="font">

</head>
<body>

<section class="hero-header">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">

    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://streetnoise.at">
          <img src="/static/img/logotype.svg">
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu"
           aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="#festival">
            Festival
          </a>
          <a class="navbar-item" href="#wer-sind">
            Wer sind wir?
          </a>

          <a class="navbar-item" href="#upcoming">
            Upcoming Gigs
          </a>

          <a class="navbar-item" href="#merchandise">
            Merchandise &amp; Unterstützen
          </a>

          <a class="navbar-item" href="#join">
            Willst mitspielen?
          </a>

          <a class="navbar-item" href="gig-request.html">
            Gig Request
          </a>

          <a class="navbar-item" href="#contact">
            Kontakt
          </a>


        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light is-outlined" href="https://data.streetnoise.at">
                Mitglieder Anmeldung
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-gapless is-multiline">
        <div class="column is-full">
          <h1 class="title has-text-centered has-text-weight-bold">
            Streetnoise Orchestra
          </h1>
        </div>

        <div class="column is-full">
          <h2 class="subtitle has-text-centered has-text-weight-bold">
            presents
          </h2>
        </div>
      </div>
      <div class="container has-text-centered-desktop">
        <img src="{% static 'img/strafiato-letters-vector.svg' %}" class="logo-type" alt="Strafiato"/>
      </div>
      <div class="columns is-gapless is-multiline  is-centered">
        <div class="column is-half has-text-centered">
          <img src="{% static 'img/logo-mark-300w.png' %}"
               alt="The Strafiato logo. Two tubas with fire coming out of the bells"
               srcset="{% static 'img/logo-mark-600w-optimized.png' %} 768w"
               class="logo-mark"/>
        </div>
        <div class="column is-full ">
          <h2 class="title has-text-centered">Urban Brass Band Festival</h2>
        </div>
        <div class="column is-full">
          <h2 class="title has-text-centered">7 - 10 June • Innsbruck</h2>
        </div>
      </div>


    </div>
  </div>
</section>

{% include 'home/festival.html' %}
{% include 'home/about_us.html' %}
{% include 'home/gigs.html' %}
{% include 'home/merch.html' %}
{% include 'home/donate.html' %}
{% include 'home/joinus.html' %}
{% include 'home/footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
<script type="text/javascript" src="{% static 'js/streetnoise.js' %}"></script>
</body>
</html>
