{% load static  wagtail_modeltranslation wagtailcore_tags %}
{% load menu_tags %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% pageurl homepage %}">
            <img loading="eager" src="/static/img/logotype.svg" width="176" height="28">
        </a>
        <div class="navbar-item  mobile-lang-switch">
            {% if request.LANGUAGE_CODE == 'de' %}
            <a href="{% change_lang 'en' page %}" class="navbar-item"><span class="">🇬🇧</span>&nbsp; English</a>
            {% else %}
            <a href="{% change_lang 'de' page %}" class="navbar-item"><span class="">🇦🇹</span>&nbsp; Deutsch</a>
            {% endif %}
        </div>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu"
           aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    {% load menu_tags %}
    {% main_menu max_levels=3 %}
</nav>
