{% extends "home/info_base.html" %}
{% load static i18n %}
{% block content %}
<div class="is-form-page">
  <section class="is-white ">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters has-text-centered">
          {% include 'home/trumpet-svg.html' %}
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
              {% trans "Subscribe" %}
          </h1>
          </p>
        </div>
      </div>
      <div class="columns">
          <div class="column is-one-third content">
              <h2>{% trans "SNOZeitung" %}</h2>
              <p class="subtitle is-4">{% trans "Stay up to date with SNO happenings." %}</p>
              <p class="">{% trans "You'll receive one email every couple weeks about upcoming gigs and news posts. You can unsubscribe at anytime." %}</p>
          </div>
          <div class="column is-two-thirds">
            {% include "home/newsletter_subscribe_form.html" with dark=False %}
          </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
