{% load i18n app_tags %}
<form id="newsletter_subscribe_form" accept-charset="UTF-8" action="{{ subscribe_page_url }}" method="POST">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}
    <div class="column">
        <div class="">
            <div class="mb-2 form-view">
                <div class="field">
                    <div class="control has-icons-left is-expanded">
                        <input type="text" value="" name="subscriber_name" id="subscriber_name" class="input is-medium is-flat" placeholder="{% trans "Name" %}">
                        <span class="icon is-small is-left">
                            {% icon_user %}
                        </span>
                        <span class="icon is-small is-right is-hidden  error-icon">
                            {% icon_exclamation_triangle %}
                        </span>
                        <p class="help is-danger is-hidden error-message"></p>
                    </div>
                </div>
            </div>
            <div class="mb-2 form-view">
                <div class="field">
                    <div class="control has-icons-left  is-expanded">
                        <input type="email" value="" name="subscriber_email" id="subscriber_email" class="input is-medium is-flat" placeholder="{% trans "Email" %}" required="">
                        <span class="icon is-small is-left">
                            {% icon_envelope %}
                        </span>
                        <span class="icon is-small is-right is-hidden  error-icon">
                            {% icon_exclamation_triangle %}
                        </span>
                    </div>
                    <p class="help is-danger is-hidden error-message"></p>
                </div>
            </div>
            <div class=" form-view">
                <div class="field">
                    <div class="control has-text-right">
                        <button class="button is-medium is-info">
                            <strong>{% trans "Subscribe" %}</strong>
                        </button>
                    </div>

                </div>
            </div>
            <div class=" success-view is-hidden">
                <div class="field">
                    <div class="control">
                        <p class="is-size-3 {% if dark %}has-text-white{%else%}has-text-black{%endif%}">{% trans "Almost there! Please check your email to confirm!" %}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <p class="{% if dark %}has-text-white{%else%}has-text-black{%endif%}">
                    Wir respektieren deine Privatsphäre zu 100%. Wir verwenden deine Daten nur für SNO-Updates.
                    <a href="/datenschutz" class="{% if dark %}has-text-link-light{%endif%} link-notice">Datenschutz</a>.</p>
            </div>
        </div>
    </div>
</form>
