{% extends "home/info_base.html" %}
{% load static i18n %}
{% block content %}
<div class="is-form-page">
  <section class="is-white ">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-quarters has-text-centered">
          {% include 'home/trumpet-svg.html' %}
          <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
              {% trans "Sorry, there was a problem" %}
          </h1>
          </p>
        </div>
      </div>
      <div class="columns is-centered">
          <div class="column is-one-quarter content">
              <p class="">{% trans "The e-mail confirmation link has expired." %}

              </p>
              <a class="button is-primary is-large" href="{{ subscribe_page_url }}">{% trans "Please subscribe again" %}</a>
          </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
