{% load i18n %}
<form id="newsletter_subscribe_form" accept-charset="UTF-8" action="{{ subscribe_page_url }}" method="POST">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}
    <div class="column">
        <div class="columns">
            <div class="column form-view">
                <div class="field">
                    <div class="control has-icons-left is-expanded">
                        <input type="text" value="" name="subscriber_name" id="subscriber_name" class="input is-medium is-flat" placeholder="{% trans "Name" %}">
                        <span class="icon is-small is-left">
                            <i class="fa fa-user icon"></i>
                        </span>
                        <span class="icon is-small is-right is-hidden  error-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <p class="help is-danger is-hidden error-message"></p>
                    </div>
                </div>
            </div>
            <div class="column form-view">
                <div class="field">
                    <div class="control has-icons-left  is-expanded">
                        <input type="email" value="" name="subscriber_email" id="subscriber_email" class="input is-medium is-flat" placeholder="{% trans "Email" %}" required="">
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope icon"></i>
                        </span>
                        <span class="icon is-small is-right is-hidden  error-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                    <p class="help is-danger is-hidden error-message"></p>
                </div>
            </div>
            <div class="column form-view">
                <div class="field">
                    <div class="control">
                        <button class="button is-medium is-info">
                            <strong>{% trans "Subscribe" %}</strong>
                        </button>
                    </div>

                </div>
            </div>
            <div class="column success-view is-hidden">
                <div class="field">
                    <div class="control">
                        <p class="is-size-3 {% if dark %}has-text-white{%endif%}">{% trans "Almost there! Please check your email to confirm!" %}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column ">
                <p class="{% if dark %}has-text-white{%endif%}">{% trans "We 100% respect your rights to privacy. We will only use your information to send you SNO updates." %} <a href="/datenschutz" class="{% if dark %}has-text-link-light{%endif%} link-notice">Datenschutz</a>.</p>
            </div>
        </div>
    </div>
</form>
