---
services:
  db:
    environment:
      POSTGRES_DB: streetnoise_cms
      POSTGRES_USER: streetnoise_cms
      POSTGRES_PASSWORD: dev
    image: postgres:14
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - streetnoise_dev_db14:/var/lib/postgresql/data/:rw
      #- /var/home/ramblurr/src/sno/cms/postgres-upgrade-testing:/backup:z

volumes:
  streetnoise_dev_db14:
