Django>=3.2,<4.0
wagtail==2.16.2
wagtailmenus==3.0.1
wagtail-modeltranslation==0.11.0
django-debug-toolbar
django-compressor==2.2
django-libsass==0.7
django-modeltranslation==0.17.7
django-allauth==0.42.0
libsass==0.14.5
dj-database-url==0.5.0
psycopg2-binary==2.8.2
whitenoise==5.1.0
stripe==2.27.0
python-dateutil==2.8.1
black
flake8
