Django>=4.1,<4.2
wagtail==4.2.3
wagtailmenus==3.1.7
wagtail-modeltranslation==0.13.0
django-debug-toolbar
django-compressor==4.1
django-libsass==0.9
django-modeltranslation==0.18.9
django-allauth==0.54.0
libsass==0.22.0
dj-database-url==2.0.0
psycopg2-binary==2.9.6
whitenoise==6.4.0
stripe==5.4.0
python-dateutil==2.8.2
black
flake8
django-plausible==0.4.0
wagtail-birdsong==1.1.2
django-mjml==1.1
