{% load static wagtailcore_tags wagtailimages_tags %}

<div class="is-clipped">
    <div class="modal modal_{{ block_id }}"
         _="on open(image_url, caption)
                add .is-active to me
                set [@src] of <img/> in me to image_url
                set [@alt] of <img/> in me to caption
                set innerText of .caption in me to caption
                end
                on close or keyup[key is 'Escape'] from <body/>
                remove .is-active from me
                set [@src] of <img/> in me to ''
                set [@alt] of <img/> in me to ''
                set innerText of .caption in me to 'loading...'
                end
                ">
        <div class="modal-background"></div>
        <div class="modal-content is-huge is-image">
            <img src="" alt="">
            <p class="caption has-text-white has-text-centered is-size-4">loading...</p>
        </div>
        <button _="on click send close to .modal_{{ block_id }}" class="modal-close is-large" aria-label="close">×</button>
    </div>


    <div class="columns is-multiline">
        {% for block in self.images %}
            <div class="column is-half-tablet is-half-desktop">
                <div class="card is-clickable">
                    <div class="card-image">
                        <figure class="image {{ self.image_class }}">
                            {% if self.aspect_ratio == "1:1" %}
                                {% image block.image fill-480x480 as small %}
                                {% image block.image fill-480x480 as medium %}
                                {% image block.image fill-480x480 as large %}
                            {% elif self.aspect_ratio == "1:1 sm" %}
                                {% image block.image fill-128x128 as small %}
                                {% image block.image fill-128x128 as medium %}
                                {% image block.image fill-128x128 as large %}
                            {% elif self.aspect_ratio == "4:3" %}
                                {% image block.image fill-480x360 as medium %}
                            {% else %}
                                {% image block.image fill-480x320 as small %}
                                {% image block.image fill-480x320 as medium %}
                                {% image block.image fill-480x320 as large %}
                            {% endif %}
                            {% image block.image fill-2000x1500 format-webp as large  %}
                            {% image block.image max-1920x1080 format-webp as original  %}
                            <img src="{{ medium.url  }}"
                                 alt="{{ block.caption }}"
                                 _="on click send open(image_url:'{{ original.url }}', caption:'{{ block.caption }}') to .modal_{{block_id}}"
                            >
                        </figure>
                    </div>
                    {% if block.caption %}
                        <footer class="card-footer">
                            {% if block.attribution_url %}
                                <a class="card-footer-item" href="{{ block.attribution_url }}" target="_blank">
                                    {{ block.caption }}
                                </a>
                            {% else %}
                                <span class="card-footer-item">{{ block.caption }}</span>
                            {% endif %}
                        </footer>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>
