{% load wagtailcore_tags wagtailimages_tags static i18n%}
<section class="hero {{ self.bg_class }} is-bold">
  <div class="hero-body">
    <div class="container is-size-5 is-size-6-mobile">
      <div class="columns is-desktop {% if self.image_alignment == 'left'  %} is-flex-direction-row-reverse {% endif %}">
        <div class="column is-5-desktop">
            <div class="content is-large">
                {% if self.heading %}
                    <h1 class="title" id="wer-sind">
                        {{ self.heading  }}
                    </h1>
                {% endif %}
                {% if self.body %}
                    {{ self.body | richtext }}
                {% endif %}
            </div>
        </div>
        <div class="column is-6-desktop slider-container">
          <div class="slider-wir">
            <div>
              <figure class="image is-4by3">
                  {% image self.image max-960x720 class=self.image_class %}
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
