{% extends "home/info_base.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n%}

{% block content %}
    {% include 'home/navigation.html' %}
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

    <script type="text/javascript">
     function compareCol(col, dir, a, b) {
         var aVal = a.children[col].innerText;
         var bVal = b.children[col].innerText;
         if (dir === "asc") {
             if (aVal < bVal) {
                 return -1;
             } else if (aVal > bVal) {
                 return 1;
             } else {
                 return 0;
             }
         } else {

             if (aVal > bVal) {
                 return -1;
             } else if (aVal < bVal) {
                 return 1;
             } else {
                 return 0;
             }
         }
     }
    </script>
    <script type="text/hyperscript">
     behavior Sortable
        on click from <th/>
            -- get all the headers and the index of the column
            set headers to <th/> in me
            set col to headers.indexOf(target)

            -- get the table body and the rows as an array
            set tbody to the first <tbody/> in me
            set rowArray to (<tr/> in tbody) as Array

            -- if this is a first click on this header
            -- clear the data-ascending attribute on any other header
            if target @data-ascending is null
                remove @data-ascending from headers
            end

            -- sort the array depending on the ascending header
            if target @data-ascending is 'true'
                set target @data-ascending to 'false'
                rowArray.sort(\ row1, row2 -> compareCol(col, "desc", row1, row2))
            else
                set target @data-ascending to 'true'
                rowArray.sort(\ row1, row2 -> compareCol(col, "asc", row1, row2))
            end

            -- merge back into the tbody
            for row in rowArray
                tbody.append(row)
            end
        end
     end
    </script>


    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                        <ul>
                            <li>
                                <a href="{% pageurl homepage %}" title="StreetNoise Orchestra">
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" /></svg>
                                    </span>
                                </a>
                            </li>
                            <li class="is-active"><a href="{% pageurl page %}" aria-current="page">{{ page.title }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <h1 class="subtitle is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
                        {{ page.title }}
                    </h1>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-three-quarters content">
                    {{ page.intro | richtext }}
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-three-quarters content">
                    <style >

                     .songs th:hover {
                         cursor: pointer;
                     }

                     .songs td, .songs th {
                         padding: 5px;
                     }


                    </style>

                    <table _="install Sortable" class="table is-striped songs mt-2">
                        <thead>
                            <tr>
                                <th>Song</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in page.songs %}
                                <tr>
                                    <td><a href="{% pageurl song %}">{{  song.title }}</a></td>
                                    <td>
                                        {{ song.status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
    {% include 'home/footer_cta.html' %}
    {% include 'home/footer.html' %}
{% endblock %}
