@import "../node_modules/@splidejs/splide/dist/css/splide-core.min";
@import "../node_modules/tippy.js/dist/tippy";
@media screen and (min-width: 769px) {
    .hero.hero-strafiato2023 .hero-body, .hero-strafiato2023.hero-strafiato2023_4.actual .hero-body {
        padding-bottom: 0!important;
    }
}
.section.crowdfunding {
    padding-top: 0;
    @media (min-width: 600px) {
        .columns {
        }
    }
    .column {
        padding: 0;
        @media (min-width: 769px) {
            &.funding-bar__container {
                padding-right: 20px
            }
        }
    }
}
.splide {
}

.splide__container {
    &.vertical {
        @media (max-width: 768px) {
            display: none;
        }
        .splide {
            margin-bottom: -2rem;

        }
    }

    &.horizontal {
        margin-top: 30px;
        @media (min-width: 769px) {
            display: none;
        }
        .activities {
            text-align: left;
        }
    }
}
.funding-bar__title {
    margin-top: auto!important;
    @extend .badaboom;
    font-size: 2rem;
    @media (min-width: 430px) {
    font-size: 2.5rem;
    }
    @media (min-width: 769px) {
      font-size: 3rem;
    }
}
.funding-bar__container {
    display:flex;
    flex-direction: column!important;
    padding-top: 0;
}
.funding-bar {
    font-size: 12px;
    border-radius: .5em;
    height: 1em;
    display: flex;
    background-color: #e4e4e4;
    position: relative;
}

.funding-bar2 svg {
    height: 60px;
    max-width: 500px;
}

.funding-bar--large {
    font-size: 24px;
    background-color: #fff
}

.funding-bar__track {
    height: 100%;
    width: calc(10% - 0.5em);
    overflow: hidden;
    display: flex;
    position: relative
}

.funding-bar__track:first-child {
    overflow: hidden;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em
}

.funding-bar__track--only {
    width: calc(90% - 0.5em)
}

.funding-bar__track--1st {
    width: calc(80% - 0.5em)
}

.funding-bar__track--finished.funding-bar__track--finished.funding-bar__track--finished,.funding-bar__track--finished.funding-bar__track--finished.funding-bar__track--full,.funding-bar__track--finished.funding-bar__track--full.funding-bar__track--finished,.funding-bar__track--finished.funding-bar__track--full.funding-bar__track--full,.funding-bar__track--full.funding-bar__track--finished.funding-bar__track--finished,.funding-bar__track--full.funding-bar__track--finished.funding-bar__track--full,.funding-bar__track--full.funding-bar__track--full.funding-bar__track--finished,.funding-bar__track--full.funding-bar__track--full.funding-bar__track--full {
    width: 100%
}

.funding-bar__track--2nd {
    position: relative;
    overflow: visible
}

.funding-bar__track--2nd .funding-bar__bar {
    position: absolute;
    left: -.5em;
    top: 0
}


$progress-bar-color: palette(green, "dark");
$progress-target-color: palette(green, "base");

.funding-bar__bar {
    height: 100%;
    width: 100%;
    background-color: $progress-bar-color;
    transition: width 1s ease;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em
}

.funding-bar__bar--unsuccessful {
    background-color: $progress-target-color;
}

.funding-bar__bar--cofunding {
    background-color: #24468d;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    left: 0;
    top: 0
}

.funding-bar__target {
    background-color: $progress-target-color;
    border-radius: 100%;
    height: 1em;
    width: 1em;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative
}

@keyframes radar {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 0;
        transform: scale(3)
    }
}

.funding-bar__target--animated:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $progress-target-color;
    border-radius: 50%;
    animation: radar 1.75s ease-in-out infinite;
    pointer-events: none
}

.funding-bar__target--success:before {
    content: " ";
    display: block;
    background-color: #238c87;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2
}

.funding-bar__target--success:after {
    content: " ";
    display: block;
    background-color: $progress-bar-color;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: -.5em;
    z-index: 1
}

.funding-bar__target--success.funding-bar__target--rejected:before {
    background-color: #304b50
}

.funding-bar__target--success.funding-bar__target--rejected:after {
    background-color: $progress-target-color;
}

@media(max-width: 767px) {
    .funding-bar--large .funding-bar__track {
        width:calc(11% - 0.5em)
    }

    .funding-bar--large .funding-bar__track--only {
        width: calc(89% - 0.5em)
    }

    .funding-bar--large .funding-bar__track--1st {
        width: calc(78% - 0.5em)
    }
}

/// ORIG LIGHT FACTS
.light-facts {
    font-size: 15px;
    width: 100%;
    display: flex;
    color: #1d1d1b;
    margin-top: 10px
}

.light-facts__fact {
    padding-top: 15px;
    padding-left: 30px
}

.light-facts__fact:first-child {
    padding-left: 0
}

.light-facts__fact--right {
    margin-left: auto;
    text-align: right;
    padding-right: 15px
}

.light-facts__fact--dotted {
    text-align: right;
    padding-left: 8px;
    width: calc(11% + 2px);
    background-image: radial-gradient(circle at 2px 2px,#1d1d1b 1.5px,transparent 0);
    background-size: 4px 8px;
    background-position: top left;
    background-repeat: repeat-y
}

.light-facts__value {
    display: block;
    font-weight: 600;
    line-height: 1
}

@media(max-width: 767px) {
    .light-facts__value {
        font-weight:700
    }
}

.light-facts__add-info {
    font-weight: 400
}

.light-facts__caption {
    display: block
}

@media(min-width: 768px) {
    .light-facts__fact {
        padding-top:18px
    }

    .light-facts__fact--dotted {
        width: calc(10% + 2px)
    }

    .light-facts__value {
        display: block
    }
}

.light-facts--is-finished {
    flex-direction: row-reverse;
    justify-content: flex-end
}

.light-facts--is-finished>.light-facts__fact:last-child {
    padding-left: 0
}

.light-facts--is-finished>.light-facts__fact:first-child {
    padding-left: 30px
}

@media(min-width: 940px) {
    .light-facts--is-finished>.light-facts__fact:first-child {
        padding-left:60px
    }
}






.activities {
    text-align: right;
    font-size: 15px;
}

.activities__item {
    display: flex;
    justify-content: end;
    opacity: 1;
    transition: opacity .3s linear;
    padding-bottom: 5px
}

.is-prev+.is-active .activities__item {
    opacity: .5
}

.activities__text {
    width: calc(100% - 44px);
    line-height: normal;
    @media(max-width: 300px) {
       width: 100%;
    }
    @media (max-width: 768px) {
        padding-left: 5px;
    }
}


.activities__name {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.activities__dimmed {
    opacity: .5
}

.activities__icon {
    opacity: .5;
    width: 34px;
    height: 34px;
    margin-left: 10px;
    margin-top: 2px;
    flex-shrink: 0;
    @media (max-width: 768px) {
        margin-left: 5px;
        width: 29px;
        height: 29px;
    }
}

@media(min-width: 768px) {
    .activities {
        font-size:18px
    }
}

@media(max-width: 300px) {
    .activities__item svg {
        display: none;
    }
}

.horizontal-giving-icon {
    display: none;
}
@media(max-width: 300px) {
  .splide__container.horizontal  {
        display: flex
  }
  .horizontal-giving-icon {
        display: block;
        width: 60px;
        flex-shrink: 0;
        padding-right: 10px;
        opacity: 0.5;

  }
}


// 309 - empty
// -274 - full
