@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "colors";
@font-face {
  font-family: 'noisy-felt';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  src:  url('../fonts/feltnoisy-webfont.woff2') format('woff2'),
  url('../fonts/feltnoisy-webfont.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

.noisy-felt {
      font-family: 'noisy-felt', sans-serif;
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
}
.title {
  @extend .noisy-felt;
}

.hero-header-strafiato_oldXX {
  .title, .subtitle {
    @extend .noisy-felt;
    color: #111;
  }

  .title {
    font-size: 2rem;
    @media screen and (min-width: 1024px) {
      font-size: 3.5rem;
    }
  }

  .subtitle {
    font-size: 1.5rem;
    @media screen and (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }
}

.hero-header-strafiato, .hero-strafiato2023_4 {
  position: relative;
  color: #000;
}
.hero-header-strafiato:before, .hero-strafiato2023_4:before {
  content: "";
  z-index: -1; // should be below the contents of the container
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background-repeat: no-repeat;
  background-image: url('../img/strafiato2023/save-the-date-header-concept3-1024.png');
  background-position-y: 9%;
  background-position-x: 51%;
  @media screen and (min-width: 499px) {
  background-position-y: 0;
  }
  @media screen and (min-width: 580px) {
  background-image: url('../img/strafiato2023/save-the-date-header-concept3-1024.png');
  }
  @include tablet {
    background-image: url('../img/strafiato2023/save-the-date-header-concept3-1200.png');
  }
  @include desktop {
    background-image: url('../img/strafiato2023/save-the-date-header-concept3.png');
  }
}
.hero-header-strafiato, .hero.hero-strafiato2023 {
  .hero-body {
    @include tablet {
      padding: 3rem 3rem;
    }
  }
  color: #1d1d1b;
  .title, .subtitle {
    color: inherit;
    @extend .noisy-felt;

    transform: perspective(133px) rotateX(340deg);
    @include tablet {
      transform: perspective(400px) rotateX(340deg);
    }
  }
  .title {
    filter: drop-shadow(3px 4px 0px #fdf9e9);
    font-size: 2.1rem;
    @media screen and (min-width: 364px) {
      font-size: 2.6rem;
    }
    @media screen and (min-width: 388px) {
      font-size: 2.8rem;
    }
    @include tablet {
      font-size: 4rem;;
    }
    @include desktop {
      font-size: 5rem;;
    }
  }
  .subtitle {
    font-size: 2.1rem;;
    filter: drop-shadow(3px 4px 0px #fdf9e9);
    @media screen and (min-width: 364px) {
    font-size: 2.4rem;;
    }
    @include tablet{
      font-size: 4.5rem;
    }
  }
  .logo-type-container {
    .logo-type {
      height: 18rem;
      filter: drop-shadow(3px 5px 0px #fdf9e9);
      padding: 0 1rem;
      @include tablet{
        padding: 0 0;
      }
    }
  }
}

.strafiato-inline {
  display: inline-flex;
  align-self: center;
  top: .125em;
  position: relative;
}
.strafiato-inline svg {
  height: 2em;

}

.number-boxes {
  background-color: palette(green, "base");
  .item, .label {
    text-align: center;
    @extend .noisy-felt;
  }
  .item {
    display: block;
    font-size: 4rem;

    .icon-euro {
      width: 2.5rem;
      height: auto;
      margin-left: -1rem;

    }

  }
  .label {
    display: block;
    font-size: 1.5rem;
  }


}
