@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "colors";
@import "mediaelement";



$primary: palette(green, "base");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

//$link: #3e8fd5;
$link: palette(green, "darker");
//$link-visited: $color-secondary-2-0;
//$link-invert: $color-secondary-2-0;
//$link: #fff;
//$info: $color-secondary-2-0;

@import "../node_modules/bulma/bulma";
@import "accordian";
@import "bulma-accordion";
@import "../node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider";
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline";
@import "../node_modules/bulma-extensions/bulma-calendar/dist/css/bulma-calendar.min";
@import "social";
@import "form";

body {
  font-family: 'Open Sans', sans-serif;

}
h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Poppins', sans-serif;
  //font-family: 'Sedgwick Ave Display', cursive;
  //font-family: 'Permanent Marker', cursive;
}
.navbar a {
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Poppins', sans-serif;
  font-weight: 500;
  &:hover {
    color: white;
  }
}

.product__name {
  font-weight: 700;
}

.product img {
  width: 50%;
  height: auto;
}

.hero-header-strafiato2019 {
  @extend .hero;
  background: #ffa500 url('../img/background-optimized.jpg') no-repeat local center center;
  background-size: cover;
}
.hero-header {
  @extend .hero;
  background: palette(orange, "base") url('../img/background-2020-enhanced.jpg') no-repeat local center center;
  background-size: cover;
  .hero-body {
  justify-content: center;
  }
}
.festival-cta {
  position: relative;
  margin-top: -8rem;
  width: 100%;
  @include desktop {
    width: 70%;
  }
  padding-top: 2rem;
  background: hsl(39deg 100% 50% / 80%);
  &:before {
    content: ' ';
    background: url('../img/noise.png');
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  }
  .logo-mark {
    width: 70%;
    margin-top: -1.5rem;
  }
  .festival-cta-content {
    position: relative;
    padding-bottom: 2rem;
  }
  .coming-soon{
    filter: drop-shadow(-2px 2px 0px #fdf9e9);
  }
  .strafiato-title {
    width: 50%
  }
  .button.is-text {
    color: black;
  }
}

.navbar {
  background-color: palette(orange, "base");
  &.is-transparent {
    background: none;
    a {
      color: inherit;
    }
  }
  a {
    color: #fff;
  }
}
.navbar-menu.is-active {
  a {
    color: inherit;
  }
}
.navbar-menu.is-active a:active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: palette(orange, "dark");
  color: #fff;
}

.logo-type {
  @include mobile {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: initial;
  }
}

.logo-mark {
  margin-top: -3rem;

  @include desktop {
    //max-width: 50vw;
    margin-top: -5rem;
  }
}


.header-bg-style {
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto;
  //background-size: cover;
  @include mobile {
    background-position: center top;

  }
}

.header-title-box {
  position: absolute;
  width: 100%;
  bottom: -1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include desktop {
  align-items: center;
  }
  .title {
    font-family: 'badaboom', sans-serif;
    color: #fff;
    width: 80%;
    text-shadow: 4px 2px 0px #000000d6;
    margin: 0;
    font-size: 3rem;
    font-weight: normal;

    @include desktop {
      font-weight: 800;
      line-height: 4rem;
      margin: 0 auto;
      font-size: 3.5rem;
    }
  }

  .undertitle {
    color: #fff;
    font-family: 'Open sans', 'sans-serif';
    letter-spacing: 0;
    margin: 0 auto;
    display: inline-block;
    background: palette(orange, "base");
    transform: rotate(-3deg);
    padding: 4px 8px;
    @include desktop {
      line-height: 3rem;
      margin: 0 auto;
      font-size: 2rem;
    }
  }
}

.hero .card .title {
  color: #363636;
}

.hero .card a:not(.button):not(.dropdown-item):not(.tag) {
  color: $link;
}

.cta {
  background: #FFFFFF !important;
  padding: 40px 0;
  color: #333333;
}

.theme-custom-box-shadow {
  border: 0px solid transparent;
  //box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
  //box-shadow: -10px -5px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}

.donate-options {
  display: flex;
  flex-wrap: wrap;

  .card {
    flex-grow: 1;
    flex-basis: 0;
    border: none;
  }

  //margin: 0;
  //padding: 0;
}

.iban {
  font-family: mono;
}

.image-prettify {
  border-radius: $radius-large;
  @include from($desktop) {
    //box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.xs-feature-image-box.image-1 {
  z-index: 1;
  text-align: center;
  @include desktop {
    text-align: right;

  }
}

.xs-feature-image-box img {
  width: 370px;
  @extend .image-prettify;
}
.heading-paragraph-block img {
  @extend .image-prettify;
}

.xs-feature-image-box {
  position: relative;

  margin-bottom: 20px;
  @include desktop {
    margin-bottom: initial;
  }
}

.xs-feature-image-box.image-2 {
  text-align: center;
  margin-top: 0;
  @include desktop {
    text-align: left;
    margin-top: -250px;
  }
}

.section.call-to-action {
  margin-top: 8rem;
}
.section.call-to-action .box {
  margin-top: -8rem;

  padding: 3.5rem 2rem;
  @include from($desktop) {
    padding: 3.5rem 1.25rem;
  }

  background-color: palette(green, "darkesterest");
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px palette(green, "darkester");
  color: white;
  border: none;
}

.section.call-to-action .title, .section.call-to-action p {
  color: #fff;
  margin-bottom: 0;
}

.section.is-primary {
  background-color: $primary;
  color: $primary-invert;
}

.hero.is-orange {
  background-color: palette(orange, "base");
  color: $primary-invert;
}

.hero.is-white {
  background-color: white;
}

.section.is-primary .title {
  color: $primary-invert;
}

.mb-4 {
  margin-bottom: 4rem;
}

.footer a {
  color: $white-ter;

  &:hover {
    color: $black-ter;
  }
}

footer .title {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 2rem auto;
  max-width: 300px;
  opacity: 0.7;
}

.footer {
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  //background-image: url("../img/ibk-white.svg");
  //background-attachment: fixed;
  //background-position: right bottom;
  //background-repeat: no-repeat;
  //background-size: 500px;
  //opacity: 0.7;
  //background-size: auto;

}

.tns-nav {
  text-align: center;
  margin: 10px 0;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.tns-nav > [aria-selected="true"] {
  background: palette(orange, "base");
}

.separator {
  width: 230px;
  margin: 30px 0 35px;
  background: #2c2c2c;
  height: 3px;

  &.is-centered {

    margin-left: auto;
    margin-right: auto;

  }
}

.soundcloud iframe {
  height: 450px;
}
.footer-logo  svg {
  width: 200px;
  @include tablet {
    width: 380px;
  }
  overflow: hidden;
}

#donate_form {
  input {
    max-width: 10rem;
  }
}
.slider-container {
  height: 330px;
  @include tablet {
    height: 550px;
  }
}

.mobile-lang-switch {
  padding-left: 0;
  padding-right: 0;
  a {
    color: #fff;

    @include mobile {
      font-size: 0.8rem;
    }

    &:hover {
      background-color: #118fe4;
      color: #fff;
    }
  }
}


.hero .rich-text p {
  font-size: 1.3rem;
}
.content .tile {
  margin-top: 2rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.festival-program {
  .rich-text {
    a {
      color: white;
    }
  }
}

//////////////////////
//////////////////////
.is-flex-centered {
  @extend .is-flex;
  align-items: center;
}
// news/blog pages
#intro-header {
  position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,rgba(112,112,112,.3) 0%, rgba(palette(orange, "darkest"), 0.3) 100%);
    }
    min-height: 216px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.news-category-menu {
  padding: 20px 1.5rem;
  border-bottom: 1px solid palette(orange, "lightest");
  font-size: 18px;
  @include desktop {
    padding:  1.5vw 0;
    margin-left: 35px;
    margin-right: 35px;
  }

  ul {
    li {
      padding: 10px 0;
      padding-right: 1rem;
      @include desktop {
        padding-right: 3rem;
      }
      a {
        color: palette(orange, "base");
        opacity: 0.7;
        font-weight: 700;
        font-family: 'badaboom';
      }
    }
    li.current a,
    li a:hover {
      border-bottom-color:currentColor;
      text-decoration:none;
      opacity:1;
    }
  }
}

.news-sidebar {
  padding: 20px 35px;
  @extend .has-background-light;
}
.news-sidebar-icon {
  padding-right: 10px;
}
.news-list-popular {
  .article-popular {
    margin-top: 30px;
    .article-popular-headline {
      h4 {
        padding-bottom: 10px;
      }
      a {
        color: #363636;
      }
    }
  }
  .article-popular-more {
    margin-top: 10px;
}
  .article-popular-text .rich-text p {
    @extend .is-size-6;
  }
}

.blog-posts {
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.card-post-item {
    border-bottom: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.card-post-header {
    margin-top: 30px;
    margin-bottom: 0px;
    a {
      color: #363636;
    }
}
.card-post-header h1 {
    font-weight: normal;
}
.card-post-header h1 {
    font-weight: bold;
}
.card-post-header h4 {
    font-weight: bold;
}

.news-post-date {
  color: #707070;
}

.news-post-meta {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03571em;
  margin-bottom: 5px;
  @extend .is-size-6;
  a {
    color: #707070;
  }
}



// blog single page
.news-single {
  .hero {
    height: 600px;
    &.has-background {
      position: relative;
      overflow: hidden;
    }
    .hero-background {
      position: absolute;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
      //height: 560px;
      &.is-transparent {
        //opacity: 0.3;
      }
    }
    .title {
      font-family: 'badaboom', sans-serif;
      color: #fff;
      text-shadow: 4px 2px 0px #000000d6;
      font-weight: normal;
    }
    .header-title-box {
      bottom: 0;
    }
    .hero-body {
      z-index: 2;
      .news-post-category a {
        color: white;
      }
    }
  }
  .hero.with-overlay {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,rgba(112,112,112,.3) 0%, rgba(palette(orange, "darkest"), 0.5) 100%);
    }
  }
  .news-single-intro {
    margin-top: 20px;
    font-family: 'badaboom', sans-serif;
    @extend .is-size-5
  }

  .news-post-footer, .title {
    font-family: 'badaboom';
  }
  .news-post-signoff {
    @extend .is-size-5;
  }
  .news-post-author {
    margin-top: 10px;
  }
  .news-body {
    .block-button {
      .buttons {
        @extend .is-centered;
      }
    }
  }
}

.richtext-image.left {
  float: left;
}
.richtext-image.right {
  float: right;
}
.block-image_carousel {
  padding: 30px 0;
  .carousel-wrapper {
    position: relative;
  }

  .controls {
    display: flex;
    justify-content: center;
  }
  .controls li {
    flex-grow: 1;
    cursor: pointer;
  }
  .controls li svg {
    height: 50px;
  }
  .controls .prev {
    padding-right: 50px;
    text-align: right;
    svg {
      transform: rotate(180deg);
    }
  }
  .controls .next {
    padding-left: 50px;
  }
  .controls li:hover { background: #f2f2f2; }
}

.is-rotated-180 {
   transform: rotate(180deg);
}
.section.is-small{
  padding: 1rem 1.5rem;
}


.title {
  font-family: 'badaboom', sans-serif;
}

.card.gig {
  width: 100%;
  .card-image.placeholder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: palette(orange, "base");
    .title {
      color: white;
      margin: 0;
    }
    h2 {
      text-shadow: 4px 2px 0px #000000d6;
    }
    h3 {
      text-shadow: 2px 2px 0px #000000d6;
    }
  }
}

.block-embedded_video {
  iframe {
    @extend .has-ratio;
  }
}

.link-notice {
  border-bottom: 1px solid grey;
  padding-bottom: 2px;
}
.link-notice.has-text-link-light {
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 2px;
}

.control.has-icons-left .icon svg {
  width: 1.5rem;
}



.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #ffa500;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

$transition-duration: 0.3s;

.modal {
  display: flex;
  visibility: hidden;

  // Common fx modal background
    .modal-background {
        transition: opacity $transition-duration;
        opacity: 0;
        background-color: rgba(10,10,10,.86);
    }

    &.is-active {
      visibility: visible;
      .modal-background {
        opacity: 1;
      }
    }
    .modal-content {
      opacity: 0;
      transition: opacity $transition-duration;

       // size
        &.is-huge {
            width: 100%;
            margin: 0px 20px;
            max-height: calc(100vh - 40px);
        }
        @include from($tablet) {
            &.is-huge {
                width: 100%;
                margin: 0px 20px;
                max-height: calc(100vh - 40px);
            }
        }
        &.is-tiny {
            max-width: 400px;
        }

        // type
        &.is-image {
            text-align: center;

            &.is-huge {
                width:auto;
            }

            img {
                max-height: calc(100vh - 50px);
            }
        }
    }

    &.is-active {
      .modal-content {
        transform: scale(1);
        opacity: 1;
      }
    }
}

.hero-rounded {
  margin: 1rem;
  border-radius: 9px;
}

.hero.festival-newsletter {
  position: relative;
  & .container > .columns {
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    @include tablet {
    background: rgba(255,255,255,0.8);
    }
  }
}
.hero.festival-newsletter:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 51%;
  @media screen and (min-width: 499px) {
  }
  @media screen and (min-width: 580px) {
  }
  @include tablet {
  }
  @include desktop {
  }

}


.no-js, .no-webp  {
  .hero.festival-newsletter:before {
    background-image:
      linear-gradient(to bottom, rgba(70,184,35,0.1) 0%, rgba(70,184,35,0.7) 95%, rgba(70,184,35,0.8) 100%),
      url('../img/strafiato2019/edited/seegrube-bw.jpg');
  }
}
.webp {
  .hero.festival-newsletter:before {
    background-image:
      linear-gradient(to bottom, rgba(70,184,35,0.1) 0%, rgba(70,184,35,0.7) 95%, rgba(70,184,35,0.8) 100%),
      url('../img/strafiato2019/edited/seegrube-bw.webp');
  }
}
