{% load wagtailcore_tags wagtailimages_tags static %}
{% if blog.extra_css %}
<style type="text/css">
{{ blog.extra_css }}
</style>
{% endif  %}

<div class="news-single" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <section class="hero is-halfheight is-primary has-background {% if not blog.hide_header_overlay %}with-overlay{% endif %}">
        {% image blog.header_image fill-1908x700 class="hero-background is-transparent"%}
        <div class="hero-body is-relative">

            {% if not blog.hide_header_title %}
            <div style="" class="header-title-box">
                <h1 class="title has-text-centered" itemprop="headline">
                    {{ blog.title }}
                </h1>
            </div>
            {% endif %}
        </div>
    </section>
    <section class="section is-small">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-one-quarter is-half">
                    <div class="news-single-intro">
                        <h4 class="news-post-meta">
                            <span class="news-post-category">
                                {% if blog.categories.all %}
                                {% for cat in blog.categories.all %}
                                <a itemprop="keywords" href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                            </span>

                            <time class="news-post-date" itemprop="datePublished" datetime="{{ blog.date|date:"Y-m-d" }}">
                                {{ blog.date|date:"F jS, Y" }}
                            </time>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for block in self.body %}
    {% if block.block_type == 'image_carousel' %}
    <section class="block-{{ block.block_type }}">
        {% include_block block %}
    </section>

    {% elif block.block_type == 'embedded_video' %}
    <section class="section-is-small">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-one-quarter is-half">
                    <div class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section class="section is-small">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-one-quarter is-half">
                    <div class="news-body content">
                        {% if block.block_type == 'heading' %}
                        <h2>{{ block.value }}</h2>
                        {% else %}
                        <section class="block-{{ block.block_type }}">
                            {% include_block block %}
                        </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}
    <section class="section">
        <div class="container">
            <div class="columns">
                {% if not blog.hide_author %}
                <div class="column is-offset-one-quarter is-half news-post-footer">
                    <p class="has-text-weight-bold news-post-signoff">Mit groovigen Grüßen,</p>
                    {% if blog.author  %}
                    <p class="news-post-author">{{ blog.author }} // SNO</p>
                    {% else %}
                    <p class="news-post-author">SNO</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
