{% load static i18n wagtailcore_tags wagtailuserbar wagtailimages_tags wagtail_modeltranslation static  app_tags %}
{% if campaign.has_started and not campaign.has_ended %}
    {% for block in self.crowdfunding_body %}
        {% if block.block_type == 'embed' %}
            {% include 'festival2026/blocks/embed.html' %}
        {% else %}
            {% include_block block with block_id=block.id|replace_dashes %}
        {% endif %}
    {% endfor %}
{% endif %}
{% for block in self.body %}
    {% if block.block_type == 'embed' %}
        {% include 'festival2026/blocks/embed.html' %}
    {% else %}
        {% include_block block with block_id=block.id|replace_dashes %}
    {% endif %}
{% endfor %}
{% if campaign.has_ended %}
    {% for block in self.crowdfunding_body %}
        {% if block.block_type == 'embed' %}
            {% include 'festival2026/blocks/embed.html' %}
        {% else %}
            {% include_block block with block_id=block.id|replace_dashes %}
        {% endif %}
    {% endfor %}
{% endif %}
