{% load wagtailcore_tags wagtailimages_tags static i18n %}

{% if gigs %}
<div class="">
  <ul class="columns">
    {% for gig in gigs %}
      <li class="column is-flex is-one-quarter">
          <div class="card gig">
              <script type="application/ld+json">
               {
                   "@context": "http://schema.org",
                   "@type": "MusicEvent",
                   "name": "{{ gig.title }}",
                   {% if gig.body %}
                   "description": "{{ gig.body }}",
                   {% endif %}
                   "startDate": "{{ gig.date_start_time | date:'c'  }}",
                   {% if gig.date_to %}
                   "endDate": "{{ gig.date_end_time | date:'c'  }}",
                   {% endif %}
                   {% if gig.set_time %}
                   "doorTime": "{{ gig.set_time }}",
                   {% endif %}
                   {% if gig.location %}
                   "location": "{{ gig.location }}",
                   {% endif %}
                   "isAccessibleForFree": true,
                   "contributor": "{{ gig.partner }}",
                   {% if gig.link %}
                   "sameAs": ["{{ gig.link }}"],
                   {% endif %}
                   "performer": [
                       {
                           "@type": "MusicGroup",
                           "name": "Street Noise Orchestra",
                           "mainEntityOfPage": "https://streetnoise.at",
                       },
                   ],
               }
              </script>
              {% if gig.feed_image %}
              <div class="card-image">
                  <figure class="image is-2by1">
                      {% image gig.feed_image fill-800x400 %}
                  </figure>
              </div>
              {% else %}
              <div class="card-image placeholder has-text-centered">
                  <h2 class="title is-3">{{ gig.title }} </h2>
              </div>
              {% endif %}
              <div class="card-content">
                  <div class="media">
                      <div class="media-content">
                          <p class="title is-3">{{ gig.title }}</p>
                          <ul>
                              <li class="is-6">
                                  {% if gig.partner %}
                                  <span class="icon"><i class="fas fa-hands-helping" aria-hidden="true"></i></span>
                                  {{ gig.partner }}
                                  {% endif %}
                              </li>
                              <li class="is-6">
                                  {% if gig.location%}
                                  <span class="icon"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
                                  {{ gig.location}}
                                  {% endif %}
                              </li>
                              <li class="is-6">
                                  {% if gig.date_from %}
                                  <span class="icon">
                                      <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                  </span>
                                  {{ gig.date_start_time }}
                                  {% endif %}
                                  {% if gig.date_to %}
                                  &ndash; {{ gig.date_end_time }}
                                  {% endif %}
                              </li>
                              <li class="is-6">
                                  {% if gig.link %}
                                  <span class="icon"><i class="fas fa-info" aria-hidden="true"></i></span>
                                  <a href="{{ gig.link }}" target="_blank">mehr info</a>
                                  {% endif %}
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </li>
      {% endfor %}
  </ul>
</div>
{% else %}
{% trans "No upcoming gigs." %}
{% endif %}
